/* top right bottom left */
body {
	font-size: 12.4px;
	font-family: sans-serif;
	background-color: #f7f7f7; 
}

a {
	color: black;
}

select, input  {
	font-size: 0.95em;
	line-height: 1.2em;
	border: 1px solid #BFCFCC;
}

hr.server_settings {
	color: #9db2b1;
	background-color: #9db2b1;
}

.main_container, #playlist {
	border: 1px solid #e2e2e2;
	background: #f1f1f1;
}

#playlist {
	cursor: default;
}

tr.playlist {
	border: 0px;
}

div.moving_box {
	background-color: #f1f1f1;
	border: 1px solid #65869E;
}

tr.moving {
	border-top: 1px solid #b0bdec;
	color: gray;
}

li[dirtype=file] { background-image: url(images/audio_li.png); }
li[dirtype=directory] { background-image: url(images/folder_li.png); }
li[dirtype=artist] { background-image: url(images/media-artist_li.png); }
li[dirtype=album] { background-image: url(images/media-album_li.png); }
li[dirtype=playlist] { background-image: url(images/playlist_li.png); }

/* used to signify that this is a search result and is used in std/browser.js */
li[btype=search] { }

/* used to select the filename */
li[btype=search] > span {
	color: gray;
}

div.slider_main, div.popup {
	border: 1px solid #B0BDEC; 
	background-color: #DEE7F7; 
}

div.slider_pointer {
        border:		1px solid #a20000;
        background-color: #ffcccc;
}

[slider_moving] {
	cursor: move;
}

img.act_button {
	height: 25px;
	width: 25px;
	opacity: 0.70;
}
img.act_button:hover {
	opacity: 1.0;
}

#status_bar {
	border: 1px solid #BDD8DA;
	background: #DFEFF0;
}

div.settings_container, div.settings_header,
div.player_control, div#streaming_display {
	border: 1px solid #9db2b1;
	background: #e7e7e7;
}
div.settings_header {
	border-bottom: 0px;
}

input#quickadd {
	font-size: 12px;
	color: gray;
	background: #f1f1f1;
}

input#quickadd:hover, input#quickadd:focus {
	background: white;
	border: 1px solid #9db2b1;
}
input#quickadd:focus {
	color: black;
}

div#qa_suggestions {
	background: white; 
	border: 1px solid #ccc; 
}

span.qa_element[qa_selected] {
	background-color: #A5F2F3;
}

div.big_albumart {
	background-color: black;
}

p#albumart_txt {
	color: white;
}

div#sidebar_header {
	background: #f1f1f1;
	border: 1px solid #9db2b1;
	font-size: 0.9em;
}

div#sidebar_display {
	border: 1px solid black;
	background-color: #ffffff;
	border: 1px solid #9db2b1;
	font-size: 0.992em;
	line-height: 1.3em;
}


/* for browser action buttons */

/* match add buttons */
li.browser_button_add {
	background: url(images/add_15.png) no-repeat top left;
}

li.playlist_popup,
span.playlist_popup {
	border: 1px solid #B0BDEC;
}

div#pagination, div#pagination_options,
div.overlay, div.selection_menu {
	border: 1px solid #bfcfcc;
	background: #f1f1f1;
}

ul#pagination_list > li,
ul.browser_field,
.browse_type {
	border: 1px solid #bfcfcc;
}

/* current page on the pagination list */
li[cpage] {
	background-color: green;
}

span.plse {
	background-image: url(images/audio_li.png);
}

span.plse:hover,
ul.recommended > li > ul > li:hover ,
[selected],
li.menuitem:hover,
#streaming_display li:hover
{
	background-color: #DEE7F7; 
}

li.menuitem {
	border: 1px solid #9DB2B1;
	border-top: none;
	background-color: #f1f1f1;
}
